
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.md-cont {


    width: 80%;
    height: 70%;
    border-right: 5px solid #00ffff;
    border-left: 1px solid aqua;

}

#info {

    color: aqua;
    font-family: gotham;
    font-size: 10px;
    letter-spacing: 5px;
    transform: rotate(-90deg);
    position: absolute;
    right: -7vh;
    bottom: 21.8vw;

}



.wrapper {

    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.9);
    
}

.logo-container {
    
    display: flex;
    position: absolute;
    top: 3vh;
    left: 5vw;
    align-content: flex-start;
    
}

.daniel-logo {
    
    fill:/*#00ffff*/ none;
    width: 400px;
    padding-left: 40px;
    stroke: #00ffff;
    stroke-width: 2px;
    transition: 0.1s cubic-bezier(.7,0,.42,1);
    
    
    
    
}

.daniel-logo:hover {
    
    fill:/*#00ffff*/ none;
    width: 400px;
    padding-left: 400px;
    stroke: #00ffff;
    stroke-width: 3px;
    transition: 0.1s cubic-bezier(.7,0,.42,1);
    
    
}

